

body {

background-color:rgb(242, 242, 242);

}

.gridLayout {

	display: grid;
	grid-template-columns: 30% 40% 30%;
}
		
div#interbox {
	
	background-color: white;
	
	width: 400px;
	height: 400px;
	border: solid black 1px;
	overflow: visible;
	margin-left:auto;
	margin-right: auto;
	
	grid-column:2;
}

div#messages {
	
	height: 80%;
	overflow:auto;
	border:solid black 1px;
	padding:2px;
	
}

div#senderDiv {
	
	height:100px;
	float:left;
	margin-top:10px;
	margin-bottom: 10px;
	margin-left: auto;
	padding-left:10px;
	
}

form#senderForm{
	
	padding-left:10px;
	margin-bottom:10px;
	padding-bottom:10px;
	
}

input#sender{
	
		width: 300px;
		
	
}

header{
	
	width:100%;
	text-align:center;
	
}

h1#title {
	
	margin-left:auto;
	margin-right:auto;
	
}

#handle {
	
	margin-bottom:10px;


}

li#messageLi{
	
	list-style:none;
	width:80%;


}

div#onlineUsers{

grid-column: 1;
grid-row:1;

}

ul#Users{




}

#messageLi:nth-child(odd){

background-color:rgb(217, 217, 217);

}



